* {
    margin: 0;
    padding: 0;
}

body {
    /* color: #ffffff; */
    background-image: url(/css/Piney.jpeg)
}



header {
    background-color: #ffffff;

}

a {
    color: #777777;
    
}

a:hover {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    padding-top: 18px;
}

nav li {
    padding: 10px;
}

.logo {
    padding: 10px;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #4aaaa5;
}

.Content {
    background-color: #ffffff;
    margin: auto;
}

#ABOUTimg {
    display: block;
    margin-right: 20px;
    width: 200px;
    height: 175px;
}

p {
    color: #777777;
}


footer {
    background-color: #666666;
    height: 60px;
    padding-top: 40px;
    text-align: center;
    bottom: 0px;
}

